<%- include('partials/header') %>

<div class="container mt-5">
    <h1>Home</h1>
    <br><br>

    <div>
        <form action="/user/register" method="GET">
            <button type="submit" class="btn btn-dark">Register</button>
        </form>
    </div>

    <br>

    <div>
        <form action="/user/login" method="GET">
            <button type="submit" class="btn btn-dark">Login</button>
        </form>
    </div>


</div>
</div>

<%- include('partials/footer') %>